---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Paul Abrams, Software Engineer, DevOps practitioner, and open source evangelist"
	pubDate={new Date('August 08 2023')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		I'm an experienced web developer. My experience profile ticks all the buzzwordy coder boxes such as "full stack" web developer, 
		DevOps practitioner, Scrum master, and open source evangelist. My professional experience comes mostly from various federal government jobs 
		I've held. 
		I earned a Bachelor of Computer Science degree back when I graduated from Carleton University. 	</p>

</Layout>
